<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: red;
  text-align: center;
}
h2{
    text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>The Unnamed Project</h1>
<h2>"NEVER UNDERESTIMATE THE POWER OF STUPID PEOPLE IN LARGE GROUPS"
                                                            -GEORGE CORLIN<h2>
</body>

<h3>Type your name here...</h3>
<form action="second_page">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" required><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname" required><br><br>
  <input type="submit" value="Submit">
</form>
</html>
